/* Body styles */
body {
  font-family: 'Roboto', sans-serif;
  background: #1e1e1e;
  color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* Header styles */
header {
  background: #008080; /* Teal background */
  color: #ffffff;
  padding: 20px;
  text-align: center;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Section styles */
section {
  padding: 20px;
  margin: 20px;
  background: #2b2b2b;
  border-radius: 10px;
}

/* Section headings */
section h2 {
  font-size: 30px;
  color: #00cccc; /* Lighter teal */
  border-bottom: 2px solid #008080;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

/* Info, skills, experience lists */
section ul {
  list-style-type: none;
  padding: 0;
}

section ul li {
  background: #333;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

/* Socials section */
.socials ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.socials ul li {
  margin: 0 10px;
}

.socials ul li a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.socials ul li a:hover {
  color: #00cccc; /* Lighter teal */
}

/* Footer styles */
footer {
  background-color: #008080; /* Teal background */
  color: #ffffff;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: background-color 0.3s ease;
}

footer:hover {
  background-color: #00cccc; /* Lighter teal */
}
